.page {
    min-height: 100vh;
    background-color: #370617;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    width: 468px;
    height: 160px;
    padding: 20px;
    background-color: #F48C06;
    border-radius: 8px;
    display: flex;
    margin: 20px;
} 
.card-content-1 {
    display: flex;
    gap: 20px;
    margin-top: auto;
    margin-left: 0;
}
.card-1 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-content-2 {
     display: flex;
     width: 100%;
     gap: 20px;
     justify-content: center;
     align-items: center;
}
.card-2 {
    width: 80px;
    height: 150px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-content-3 {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
.card-3 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
    justify-content: space-between;
}