.page {
    min-height: 100vh;
    background-color: #370617;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    width: 468px;
    height: 160px;
    padding: 20px;
    background-color: #F48C06;
    border-radius: 8px;
    display: flex;
    margin: 20px;
    border: 3px solid transparent;
} 
.card:hover {
    border-color: blue;
}
.card-content-1 {
    display: flex;
    gap: 20px;
    margin-top: auto;
    justify-content: flex-end;
}
.card-1 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-content-2 {
     display: flex;
     width: 100%;
     gap: 20px;
     justify-content: center;
     align-items: center;
}
.card-2 {
    width: 80px;
    height: 150px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-content-3 {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
.card-3 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-content-4 {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.card-4 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-bx4 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    margin-top: auto;
    align-items: flex-end;
}
.card-content-5 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card-5 {
    width: 80px;
    height: 150px;
    background-color: #9D0208;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card-5 p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
.card-bx5 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content-6 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-6 {
    width: 80px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}
.card-bx6 {
    width: 150px;
    height: 80px;
    background-color: #9D0208;
    border-radius: 8px;
}